@import "global.scss";
/* Fonts */
@import "font-faces.scss";
/* Override Bootstrap varis */
@import "vari.scss";
/* Bootsttrap */
@import "./bootstrap/bootstrap.scss";
/* My Navbar Style */
@import "navbar.scss";
/* Drawer */
@import "drawer.scss";
/* Watch - Preview */
@import "watch-preview.scss";
/* Watch - Details */
@import "watch-details.scss";
/* Watch - Options */
@import "options.scss";
/* Product - Details */
@import "product-attributes.scss";
/* Product - Description */
@import "product-description.scss";
/* Related - Pieces */
@import "related-pieces.scss";
/* Footer */
@import "footer.scss";


.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section{
  background-color: #0f0f0f; 
  padding: 5rem
}

.myButton{
  background-color: rgb(202, 162, 92);
  border: none;
  padding: 10px 10px;
  
  display: inline-block;
  

  &__ancor{
    color: white !important;
    font-weight: 300;
    font-family: "TradeGothicLTBold";
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}


 /* MEDIA QUERIES */
 /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) 
  {

  } 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

} 

/* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) 
  {

  } 

/* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) 
  {

  } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  .section{
    background-color: #0f0f0f; 
    padding: 10rem
  }
}  