@import "global.scss";
/* Fonts */
@import "font-faces.scss";
/* Override Bootstrap varis */
@import "vari.scss";
/* Bootsttrap */
@import "./bootstrap/bootstrap.scss";
/* My Navbar Style */
@import "navbar.scss";
/* Drawer */
@import "drawer.scss";
/* Watch - Preview */
@import "watch-preview.scss";
/* Watch - Details */
@import "watch-details.scss";
/* Watch - Options */
@import "options.scss";





.myButton{
  background-color: rgb(202, 162, 92);
  border: none;
  padding: 10px 10px;
  
  display: inline-block;
  

  &__ancor{
    color: white !important;
    font-weight: 300;
    font-family: "TradeGothicLTBold";
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
}


 /* MEDIA QUERIES */
 /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) 
  {

  } 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

} 

/* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) 
  {

  } 

/* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) 
  {

  } 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}  