.myHamburger{
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}
.drawer{
   
    &__right{
        position: fixed;
        top: 0;
        right: 0;
        width: 0; /* initialisieren */
        overflow: hidden;
        height: 100vh;
        padding-left: 0; /* initialisieren */
        border-left: 1px solid whitesmoke;
        background: white;
        z-index: 200;
        transition: all 0.2s;
        z-index: 2000;
    }

    &__toggle {
        width: 120px;
        background: white;
        color: tomato;
        border: 0;
        padding: 5px;
        cursor: pointer;
    }
      
    &__close {
    background: white;
    border: 0;
    cursor: pointer;
    }

    &__mask{
        position: fixed;
        left: 0;
        top: 0;
        width: 0; /* initially */
        height: 100vh;
        background: #000;
        opacity: 0.3;
        z-index: 199;
        transition: opacity 0.2s;
        z-index: 300;
    }

    &__hamburger{
      position: absolute;
      right: 15px;
      top: 13px;
    }

    &__btn{
        position: absolute;
        right: 17px;
        top: 10px;
        z-index: 2000;
        position: fixed;
        
    }


}