
/**************************************************/
html{
  margin: 10px;
  margin-right: 15px;
}

a:link {
    text-decoration: none !important;
  }

  a{
    text-decoration: none !important;
    color: black !important
  }
  
  
  a:visited {
    text-decoration: none !important;
  }

  .container{
    width: 100% !important;
    max-width: 1300px !important;
    
    &:after{
      content: none !important;
    }
    &:before{
      content: none !important;
    }
  }