// Mobile
.productAttributes{
    width: 100%;

    &__image{
        width: 100%;
        padding: 13rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_title{
        font-size: 32px;
        font-family: "MinionProRegular";
        color: rgb(0, 0, 0);
    }

    &__label{
        font-family: "MinionProRegular";
        color: rgb(140, 140, 140);
        font-size: 15px;
        
    }

    &__value{
        font-family: "TradeGothicLT";
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-size: 10px;
    }

    &__content{
        padding-left: 0;
    }

    &__item{
        width:  100%;
    }

    &__icon{
        padding: 1.8rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__divider{
        border-top: solid 3px gray;
    }

    &__specifications{
        position: relative;

        &__image1{
            padding: 14rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        &__image2{
            position: absolute;
            padding: 9rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: -10rem;
            left: 5.1rem;

        }
    }



     // BREAKPOINTS
    // Mobile
    @media (min-width: 576px) {
        &__specifications{
            &__image1{
                padding: 14rem;
            }
    
            &__image2{
                padding: 9rem;
                bottom: -0rem;
                left: 5.1rem;
    
            }
        }
    }

    // Tablets
    @media (min-width: 768px) {
        &__specifications{
            &__image1{
                padding: 14rem;
            }
    
            &__image2{
                padding: 9rem;
                bottom: -0rem;
                left: 5.1rem;
    
            }
        }
      
    }
    // Desktop
    @media (min-width: 992px) {
        
    }
    // Desktop large
    @media (min-width: 1200px) {
        width: 100%;

        &__image{
            padding: 17rem;
            background-position: right;
        }
    
        &_title{
            font-size: 32px;
        }
    
        &__label{
            font-size: 17px;
            
        }
    
        &__value{
            font-size: 14px;
        }

        &__content{
            padding: 0 7rem;
        }

        &__specifications{
            position: relative;

            &__image1{
                padding: 20rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &__image2{
                position: absolute;
                padding: 14rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                bottom: -15rem;
                left: 6rem;

            }
        }
        
    }
}