/* Mobile */
.watch{
    margin: 60px 0px;

    &__preview{
        padding-top: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.25s;

        &__thumbnail{
            margin: 10px 10px;
            padding: 5%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

    }

     // BREAKPOINTS
    // Mobile
    @media (min-width: 576px) {
     
       
      
    }

    // Tablets
    @media (min-width: 768px) {
        margin: 60px 0px;

        &__preview{
            padding-top: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.25s;

            &__thumbnail{
                margin: 10px 10px;
                padding: 5%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }

    }
    // Desktop
    @media (min-width: 992px) {
        margin: 60px 0px;

        &__preview{
            padding-top: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.25s;
    
            &__thumbnail{
                margin: 10px 10px;
                padding: 20%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
        }
     
    }
        
    
    // Desktop large
    @media (min-width: 1200px) {
        margin: 60px 0px;

        &__preview{
            padding-top: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.25s;

            &__thumbnail{
                margin: 10px 10px;
                padding: 30%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

        }
        
    }

}